.blogSubPages {
  width: 100%;
  min-height: 1250px;
  display: flex;
  flex-direction: column;

  .blogSubImg {
    width: 75%;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
        $redGradientLight,
        $redGradientLight
      ),
      url(../assets/images/blog.jpg);

    .blogSubDate {
      width: 150px;
      height: 150px;
      text-align: center;
      background-color: $red;
      margin: 0 auto;
      margin-top: 70px;

      h2 {
        font-size: 55px;
        font-family: $gillSans;
        color: $white;
        padding-top: 20px;
      }
      h3 {
        font-size: $sizeHeader;
        font-family: $gillSans;
        color: $white;
        margin-top: -20px;
      }
    }
  }
  .blogSubWords {
    width: 75%;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      font-size: 25px;
      font-family: $gillSans;
      color: $red;
    }
    p {
      font-size: 25px;
      font-family: $gillSans;
      color: $black;
      margin-top: 30px;
    }

    .blogSubWordsMajor {
      max-width: 900px;
      height: auto;
      margin-bottom: 130px;
    }
    .blogSubWordsMinor {
      max-width: 900px;
      height: auto;
    }
  }
}
