.navWhite {
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to bottom,
      $yellowGradientDark,
      $yellowGradientDark
    ),
    url(../assets/images/home-hero.jpg);

  nav {
    width: 75%;
    height: 100px;
    background-color: transparent;
    border: 2px;
    border-style: solid;
    border-color: transparent transparent $white transparent;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    #logo {
      width: 120px;
      height: 55px;
      margin-top: 25px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/images/logo-white.png);
    }
    .linksWhite {
      width: 400px;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      a {
        font-size: $sizePara;
        font-family: $gillSans;
        text-decoration: none;
        color: $white;
      }
      p {
        font-size: $sizePara;
        font-family: $gillSans;
        color: $red;
      }
    }
  }
  .homeGreeter {
    width: 725px;
    height: 270px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 75px;

    h1 {
      font-size: 35px;
      font-family: PTSerifReg;
      color: $white;
    }
    h2 {
      font-size: $sizePara;
      font-family: $gillSans;
      color: $red;
      margin-top: -48px;
    }
    p {
      font-size: $sizePara;
      font-family: $gillSans;
      color: $white;
    }
    .homeButton {
      width: 120px;
      height: 40px;
      background-color: $red;
      margin: 0 auto;

      a {
        font-size: $sizeMini;
        font-family: $gillSans;
        text-decoration: none;
        color: $white;
        margin-top: 7px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
.navBlack {
  width: 75%;
  height: 100px;
  background-color: $white;
  border: 2px;
  border-style: solid;
  border-color: transparent transparent $black transparent;
  margin: 0 auto;

  nav {
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    #logo {
      width: 120px;
      height: 55px;
      margin-top: 25px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/images/logo-black.png);
    }
    .linksBlack {
      width: 400px;
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      a {
        font-size: $sizePara;
        font-family: $gillSans;
        text-decoration: none;
        color: $black;
      }
      p {
        font-size: $sizePara;
        font-family: $gillSans;
        color: $red;
      }
    }
  }
}
.footer {
  width: 100%;
  height: 500px;
  background-color: $red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  #logo {
    width: 120px;
    height: 55px;
    margin: 0 auto;
    margin-top: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/logo-white.png);
  }
  .footerWords {
    width: 380px;
    height: 70px;
    margin: 0 auto;

    p {
      font-size: $sizePara;
      font-family: $gillSans;
      color: $white;
    }
  }
  .footerInput {
    width: 55%;
    height: 60px;
    display: flex;
    margin: 0 auto;

    .emailTextbox {
      width: 75%;
      height: auto;
      background-color: #f56b88;

      p {
        font-size: $sizePara;
        font-family: $gillSans;
        color: RGB(255, 255, 255, 0.5);
        text-align: left;
        margin-top: 17px;
        margin-left: 15px;
      }
    }
    .emailButton {
      width: 25%;
      height: auto;
      background-color: $white;

      a {
        font-size: $sizePara;
        font-family: $gillSans;
        font-weight: bold;
        text-decoration: none;
        color: $red;
        margin-top: 17px;
        display: flex;
        justify-content: center;
      }
    }
  }
  .footerSocials {
    width: 225px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    #facebook {
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/images/facebook.svg);
    }
    #instagram {
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/images/instagram.svg);
    }
    #twitter {
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../assets/images/twitter.svg);
    }
  }
  .footerCopyright {
    width: 350px;
    height: auto;
    margin: 0 auto;

    p {
      font-size: $sizeMini;
      font-family: $gillSans;
      color: RGB(255, 255, 255, 0.5);
    }
  }
}

//fonts
@font-face {
  font-family: PTSerifReg;
  src: url(../assets/fonts/PTSerif-Regular.ttf);
}
