.gallerySubPages {
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;

  .gallerySubImg {
    width: 75%;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .gallerySubTitle {
      height: 14vw;
      width: 100%;
      position: absolute;
      bottom: 0;

      h1 {
        font-family: $gillSans;
        text-shadow: 5px 5px RGB(0, 0, 0, 0.16);
      }
    }
    .title1 {
      color: $yellow;

      h1 {
        font-size: 11vw;

        .enlarge {
          font-size: 14vw;
        }
      }
    }
    .title2 {
      color: $red;

      h1 {
        font-size: 11vw;

        .enlarge {
          font-size: 14vw;
        }
      }
    }
    .title3 {
      color: $green;

      h1 {
        font-size: 11vw;

        .enlarge {
          font-size: 14vw;
        }
      }
    }
    .title4 {
      color: $purple;

      h1 {
        font-size: 9.5vw;

        .enlarge {
          font-size: 12.5vw;
        }
      }
    }
    .title5 {
      color: $blue;

      h1 {
        font-size: 10vw;

        .enlarge {
          font-size: 13vw;
        }
      }
    }
  }
  .img1 {
    background-image: linear-gradient(
        to bottom,
        $yellowGradient,
        $yellowGradient
      ),
      url(../assets/images/1.png);
  }
  .img2 {
    background-image: linear-gradient(to bottom, $redGradient, $redGradient),
      url(../assets/images/2.jpeg);
  }
  .img3 {
    background-image: linear-gradient(to bottom, $greenGradient, $greenGradient),
      url(../assets/images/3.jpg);
  }
  .img4 {
    background-image: linear-gradient(
        to bottom,
        $purpleGradient,
        $purpleGradient
      ),
      url(../assets/images/4.jpg);
  }
  .img5 {
    background-image: linear-gradient(to bottom, $blueGradient, $blueGradient),
      url(../assets/images/5.png);
  }
  .gallerySubWords {
    width: 75%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 80px;

    .gallerySubCol {
      width: 47.5%;
      min-height: 150px;

      p {
        font-size: $sizePara;
        font-family: $gillSans;
        color: $black;
      }
    }
  }
}
