.home {
  width: 100%;
  min-height: 620px;
  display: flex;
  flex-direction: column;

  .quoteSection {
    width: auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    background-color: $white;

    .quote {
      max-width: 800px;
      min-height: 200px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;

      p {
        font-size: $sizeMini;
        font-family: $gillSans;
        color: $yellow;
      }
      h5 {
        font-size: 17px;
        font-family: PTSerifReg;
        color: $red;
      }
      h6 {
        font-size: 12px;
        font-family: PTSerifReg;
        color: #a8a8a8;
      }
    }
  }
  .upcomingEventsSection {
    width: auto;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    background-color: $purple;

    .upcomingEventsTitle {
      width: 400px;
      height: 50px;
      border: 2px;
      border-style: solid;
      border-color: transparent transparent $white transparent;
      margin-top: 30px;
      margin-left: 40px;

      h2 {
        font-size: $sizeHeader;
        font-family: $gillSans;
        color: $white;
      }
    }
    .upcomingEventsContent {
      width: 95%;
      min-height: 175px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-top: 30px;

      .event {
        width: 300px;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .date {
          width: 60px;
          height: 60px;
          background-color: $red;
          text-align: center;

          h2 {
            font-size: $sizeHeader;
            font-family: $gillSans;
            color: $white;
            margin-top: 5px;
          }
          h3 {
            font-size: $sizeSmall;
            font-family: $gillSans;
            color: $white;
            margin-top: -20px;
          }
        }
        .eventWords {
          width: 225px;
          height: auto;

          h3 {
            font-size: 25px;
            font-family: $gillSans;
            color: $white;
          }
          p {
            font-size: $sizeMini;
            font-family: $gillSans;
            color: $white;
          }
        }
      }
    }
  }
}
@font-face {
  font-family: PTSerifReg;
  src: url(../assets/fonts/PTSerif-Regular.ttf);
}
