//colors
$purple: RGB(84, 13, 110);
$red: RGB(238, 67, 103);
$yellow: RGB(255, 209, 64);
$blue: RGB(59, 206, 171);
$green: RGB(8, 173, 105);
$black: RGB(0, 0, 0);
$white: RGB(255, 255, 255);

//gradients
$purpleGradient: RGB(84, 13, 110, 0.7);
$redGradient: RGB(238, 67, 103, 0.7);
$redGradientLight: RGB(238, 67, 103, 0.6);
$yellowGradient: RGB(255, 209, 64, 0.7);
$yellowGradientDark: RGB(255, 209, 64, 0.8);
$blueGradient: RGB(59, 206, 171, 0.7);
$greenGradient: RGB(8, 173, 105, 0.7);

//fonts
$gillSans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

//fontSize
$sizeHeader: 30px;
$sizePara: 22px;
$sizeMini: 20px;
$sizeSmall: 15px;
